 *{
 	text-align: center;
}

body {
	background-color: #777;
	font-family: 'Arial';
}
#wrapper{
	/*75 of the body*/
	width: 75%;
	/*up + down margin 0px, left + right auto*/
	margin: 0 auto;

}
.longBar {
	background-color: #ebebeb;
	/*100% of #wrapper*/
	width: 100%;
	height: 70px;
	margin: 10px 0;
	color: #777;
	/*we want padding only above*/
	padding: 20px 0 0 0;

}
#middleContent {
	width: 100%;
	/*20 px for up + down and 0px on the sides*/
	margin: 20px 0;
	display: inline-flex;
}
#section {
	background-color: #ebebeb;
	padding: 10px 0 0 0;
	color: #777;
	width: 60%;
	height: 250px;
	margin: 0 10px 0 0;
}
#article {
	background-color: #777;
	color: #ebebeb;
	width: 90%;
	padding: 5px;
	height: 180px;
	margin: 30px 10px 10px 22px;
}
.smallBox {
	background-color: #ebebeb;
	color: #777;
	width: 90%;
	height: 40px;
	margin: 30px 0 10px 25px;
	padding-top: 5px;
}
#aside {
	background-color: #ebebeb;
	color: #777;
	padding: 10px 0 0 0;
	width: 40%;
	margin: 0 0 0 10px; 

}
h1, h2, h3 {
	margin: 30px 0 10px 0;
	font-weight: bold;

}
